<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">الصفحة الرئيسية</a> 
      <a class="navbar-brand" href="/card">المقالات</a> 

    </div>
  </nav>
<div class="container "  >
   <div dir="rtl">
    <div class="div" dir="rtl">
        <h1 class="text">
            مقترح مجلة علمية تحت عنوان " الاعلام الرقمي والتنمية المستدامة "
        </h1>
        <br>
        <p class="text-center" dir="rtl">
            دورية علمية متخصصة تصدرها کلية الإعلام وفنون الاتصال بجامعة 6 أكتوبر بالجيزة
         .من أجل مساعدة الباحثين علي نشر أبحاثهم العلمية، تصدر بصفة ربع سنوية في مجال الإعلام والاتصال وتصدر أون لاين 
         </p>
    </div>
    <div class=" col-lg-7">
    <div class="div" dir="rtl">
        <h3 dir="rtl">
            رؤية المجلة:
        </h3>
        <p dir="rtl"> 
            أن تكون رائدة في التعليم والبحث العلمي والتنمية المستدامة في مجال الاعلام الرقمي وفنون الاتصال محليا و إقليميا.
        </p>
    </div>
    <div class="div" dir="rtl">
        <h3 dir="rtl" >
            رسالة المجلة:
        </h3>
        <p dir="rtl">
            تقديم بحوث علمية تطبيقية مميزة للعمل على إثراء البحث العلمي بما يخدم المجتمع، ويدعم الإبداع الفکري والتوظيف الأمثل للتقنية والشراکة الفاعلة.
        </p>
    </div>
    <div class="goal" dir="rtl">
        <h3 dir="rtl"> أهداف المجلة:</h3>
        <ul dir="rtl">
            <li>	نشر الأبحاث العلمية في مجال الإعلام الرقمي والتنمية المستدامة للباحثين في مصر والوطن العربي</li>
            <li>	تحقيق الجودة المطلوبة للبحث العلمي الاعلامي.</li>
            <li>	المنافسة مع المجلات العربية والعالمية المتخصصة.</li>
            <li>	التطوير المستمر في أساليب النشر والتحکيم والتبادل العلمي مع الجهات المحلية والخارجية.</li>
            <li>	استقطاب أعضاء هيئة تحکيم واستشاريين متميزين.</li>
            <li>	تمکين الباحثين والمحکمين من اکتساب المهارات الفکرية والمهنية.</li>
            <li>	بناء جسور التواصل مع الجامعات والمؤسسات البحثية محليا واقليميا وعالميا.</li>
            <li>	نشر تقارير الندوات والمؤتمرات العلمية بالکلية والجامعة.</li>
            <li>	المساهمة في حصول الجامعة علي مراكز متقدمة في التصنيف الدولي. </li>
            <li>	مساعدة الباحثين على نشر بحوثهم وفق معايير التحکيم العلمى والتى تساهم فى الترقيات الأکاديمية لهم. </li>
            <li>	تعد بمثابة مرجعاً علمياً موثوقاً فيه للباحثين المهتمين بمجالات الاعلام المختلفة.</li>
        </ul>
    </div>
    <div class="rule" dir="rtl">
     <h3 dir="rtl">قواعد النشر:</h3>
     <ul dir="rtl">
        <li>هيئة التحرير هي الجهة المسؤولة عن الموافقة على نشر البحوث العلمية المقدمة إلى المجلة. بعد التأكد من استيفاء الأوراق المقدمة لشروط والأحكام النشر في المجلة.</li>
        <li>ما يؤخذ في الاعتبار هو القيمة العلمية والمعايير الأخلاقية للعمل وسلامة البحث العلمي والأسلوب اللغوي والدقة العلمية .</li>
        <li>تلتزم لجنة التحرير بتحسين الرصانة العلمية للمجلة من خلال نشر الأبحاث وفقًا لأهميتها ووضوحها وأصالتها ومطابقتها للبنود والشروط المعلنة للباحثين.</li>
        <li>تلتزم لجنة التحرير في المجلة أيضًا بعدم الکشف عن أسماء المحکمين وکذلك عدم الکشف عن أسماء الباحثين أصحاب الأبحاث المقدمة للنشر أمام المحکمين تحقيقا لعامل الشفافية.</li>
     </ul>
    </div>
</div>
</div>
<div dir="rtl">
<div class="col-lg-5" dir="rtl">
 <h3  dir="rtl">معلومات عن المنشور</h3>
 <h4 class="p" dir="rtl">الناشر<br>جامعة 6 اكتوبر</h4>
 <hr>
 <div>
    <ul dir="rtl"> رئيس مجلس الادارة 
        <li dir="rtl">أ.د/ جمال سامي (رئيس جامعة6 أكتوبر) </li>
    </ul>
    <hr>
    <ul dir="rtl"> نائب رئيس مجلس الإدارة 
        <li>أ.د/ ياسر دكروري (نائب رئيس الجامعة لشئون الدراسات العليا والبحوث)</li>
    </ul>
    <hr>
    <ul dir="rtl"> رئيس التحرير
        <li dir="rtl">أ.د/ امال كمال(عميد الكلية) </li>
    </ul>
    <hr>
    <ul dir="rtl"> نائب رئيس التحرير
        <li dir="rtl">أ.د/ سمية عرفات (وكيل الكلية لشئون التعليم والطلاب)</li>
        <li dir="rtl">أ.م.د/ إيمان زهرة (قائم بعمل وكيل الكلية لشئون خدمة المجتمع وتنمية البيئة)</li>
    </ul>
    <hr>
    <ul dir="rtl"> مدير التحرير 
        <li dir="rtl">أ.م.د/ مروة صبحي ( قائم بعمل رئيس قسم العلاقات العامة والاعلان ومدير وحدة ضمان الجودة)</li>
    </ul>
    <hr>
    <ul dir="rtl"> سكرتير التحرير
        <li dir="rtl">ا.م.د/ أمل عبد القادر ( أستاذ مساعد بقسم العلاقات العامة  والاعلان)</li>
    </ul>
    <hr>
    <ul dir="rtl"> المحرر اللغوي
        <li dir="rtl">أ.م.د/ سليمان البلكيمي ( أستاذ مساعد بكلية التربية جامعة 6 أكتوبر)</li>
    </ul>
    <hr>
    <ul dir="rtl"> أعضاءالهيئة الاستشارية 
        <ul dir="rtl">(أساتذة بكليات الاعلام واقسام الاعلام بالجامعات المصرية) 
        <li dir="rtl">أ.د/ محمد معوض(استاذ الاعلام جامعة عين شمس)</li>
        <hr>
        <li dir="rtl">أ.د/ ثريا البدوي(  استاذ العلاقات العامة والاعلان)<br>( كلية الاعلام جامعة القاهرة )</li>
        <hr>
        <li dir="rtl">أ.د/ سحر فاروق( أستاذ الصحافة) (جامعة حلون)</li>
        <hr>
        <li dir="rtl">أ.د/ اعتماد خلف معبد(استاذ الاعلام جامعة عين شمس)</li>
        <hr>
        <li dir="rtl">أ.د/ دينا فاروق أبوزيد(استاذ الاعلام جامعة عين شمس)</li>
        <hr>
        <li dir="rtl">أ.د/ أشرف جلال  ( أستاذ الاذاعة والتلفزيون) <br> (كلية الاعلام جامعة القاهرة)</li>
        <hr>
        <li dir="rtl">أ.د/ فاتن الطنباري  (استاذ الاعلام جامعة عين شمس) </li>
        <hr>
        <li dir="rtl">أ.د/ شريف درويش اللبان  (أستاذ الصحافة ) <br> ( كلية الاعلام جامعة القاهرة ) </li>
        <hr>
        <li dir="rtl"> أ.م.د/ محمد عتران ( أستاذ مساعد العلاقات العامة والاعلان) <br> (كلية الاعلام جامعة القاهرة) </li>
    </ul>
    </ul>
    <hr>
    <ul dir="rtl">طاقم عمل الكتروني للمجلة
        <li dir="rtl">د/ فاطمة أبو الفتوح (المدرس بقسم الاذاعة والتلفزيون )</li>
        <hr>
        <li dir="rtl">د/ أحمد عبد المجيد (المدرس بقسم الصحافة )</li>
        <hr>
        <li dir="rtl">د/ أحمد إبراهيم(المدرس بقسم العلاقات العامة والاعلان)</li>
        <hr>
        <li dir="rtl">م.م / راشد صلاح(المدرس المساعد بقسم الصحافة )</li>
    </ul>
 </div>
</div>
</div>
</div>